<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PostgreSQLPath" value="C:\Program Files\PostgreSQL\9.5\bin" />
    <add key="PostgreSQLExecutable" value="pg_dump.exe" />
    <add key="APGDiffPath" value="C:\apgdiff-2.4" />
    <add key="APGDiffExecutable" value="apgdiff-2.4.jar" />

  </appSettings>
  <connectionStrings>
    <add name="local" connectionString="User ID=postgres;Password=***REMOVED***;Host=localhost;Port=5432;Database=site;" />
    <add name="remote" connectionString="User ID=postgres;Host=***REMOVED***;Port=5432;Database=site;" />
  </connectionStrings>
</configuration>